[Unit]
Description=Nonsense namespace engine netns service for the default network namespace

BindsTo=nonsensed.service
After=network-pre.target nonsensed.service

[Install]
WantedBy=nonsense-netns@default.target

[Service]
Type=oneshot
RemainAfterExit=yes
# This is the network namespace of PID 1, so do not request a private network.
# This is the only difference between this unit and the template.
PrivateNetwork=no

Slice=nonsense-default.slice

SyslogIdentifier=nonsense-netns:default

Environment=NETNS=nonsense:default

ExecStartPre=-/usr/bin/env ip netns delete ${NETNS}

ExecStart=/usr/bin/env ip netns add ${NETNS}
ExecStart=/usr/bin/env umount /var/run/netns/${NETNS}
ExecStart=/usr/bin/env mount --bind /proc/self/ns/net /var/run/netns/${NETNS}

ExecStop=/usr/bin/env ip netns delete ${NETNS}

