[Unit]
Description=Nonsense namespace engine netns uplink service for %I

BindsTo=nonsense-netns@%i.service
After=nonsense-netns@%i.service

[Install]
WantedBy=nonsense-netns@%i.target

[Service]
Type=oneshot
RemainAfterExit=yes
NetworkNamespacePath=/var/run/netns/nonsense:%i

SyslogIdentifier=nonsense-uplink:%I

Environment=UPLINK=nu-%i
Environment=DOWNLINK=nd-%i

ExecStart=/usr/bin/env ip link add ${UPLINK} type veth peer ${DOWNLINK}
ExecStart=/usr/bin/env ip link set ${UPLINK} up

ExecStop=/usr/bin/env ip link delete ${UPLINK}

