[Unit]
Description=Nonsense namespace engine netns service for %I

BindsTo=nonsensed.service
After=network-pre.target nonsensed.service

[Install]
WantedBy=nonsense-netns@%i.target

[Service]
Type=oneshot
RemainAfterExit=yes
PrivateNetwork=yes

Slice=nonsense-%i.slice

SyslogIdentifier=nonsense-netns:%I

Environment=NETNS=nonsense:%i

ExecStartPre=-/usr/bin/env ip netns delete ${NETNS}

ExecStart=/usr/bin/env ip netns add ${NETNS}
ExecStart=/usr/bin/env umount /var/run/netns/${NETNS}
ExecStart=/usr/bin/env mount --bind /proc/self/ns/net /var/run/netns/${NETNS}

ExecStop=/usr/bin/env ip netns delete ${NETNS}

