[Unit]
Description=Nonsense namespace engine netns connection service for %I

BindsTo=nonsense-uplink@%i.service
After=nonsense-uplink@%i.service
JoinsNamespaceOf=nonsense-netns@%i.service

[Install]
WantedBy=nonsense-netns@%i.target

[Service]
Type=oneshot
RemainAfterExit=yes
PrivateNetwork=yes

SyslogIdentifier=nonsense-connection:%I

Environment=NETNS=nonsense:%i
Environment=DOWNLINK=nd-%i

ExecStart=/usr/bin/env nonsensectl lock net.%I
ExecStart=/usr/bin/env bash -c 'ip link set ${DOWNLINK} netns $(nonsensectl get uplink-namespace %i)'
ExecStart=/usr/bin/env bash -c 'ip netns exec $(nonsensectl get uplink-namespace %i) ip addr add $(nonsensectl get downlink-address-masked %I) dev ${DOWNLINK}'
ExecStart=/usr/bin/env bash -c 'ip netns exec $(nonsensectl get uplink-namespace %i) ip link set ${DOWNLINK} up'
ExecStart=/usr/bin/env nonsensectl unlock net.%I

ExecStopPost=/usr/bin/env bash -c 'if [[ "${SERVICE_RESULT}" == "exit_code" ]]; then nonsensectl unlock net.%I; fi'
ExecStopPost=/usr/bin/env bash -c 'ip netns exec $(nonsensectl get uplink-namespace %i) "ip link set ${DOWNLINK} netns ${NETNS} || true"'

