[Unit]
Description=Nonsense namespace engine network service for %I

BindsTo=nonsense-uplink@net.%i.service
After=nonsense-uplink@net.%i.service

[Install]
WantedBy=nonsense-netns@net.%i.target

[Service]
Type=oneshot
RemainAfterExit=yes
NetworkNamespacePath=/var/run/netns/nonsense:net.%i

Slice=nonsense-%i.slice

SyslogIdentifier=nonsense-network:%I

Environment=BRIDGE=nb-%i
Environment=UPLINK=nu-net.%i
Environment=DOWNLINK=nd-net.%i

ExecStart=/usr/bin/env ip link add ${BRIDGE} type bridge
ExecStart=/usr/bin/env ip link set ${BRIDGE} up
ExecStart=/usr/bin/env ip link set ${UPLINK} master ${BRIDGE}

ExecStopPost=/usr/bin/env bash -exc 'if [[ "${SERVICE_RESULT}" != "success" ]]; then nonsensectl unlock net.%I; fi'
ExecStopPost=/usr/bin/env ip link delete ${BRIDGE}

