[Unit]
Description=Nonsense namespace engine netns connection service for %I

BindsTo=nonsense-uplink@%i.service
After=nonsense-uplink@%i.service

[Install]
WantedBy=nonsense-netns@%i.target

[Service]
Type=oneshot
RemainAfterExit=yes
NetworkNamespacePath=/var/run/netns/nonsense:%i

Slice=nonsense-%i.slice

SyslogIdentifier=nonsense-connection:%I

Environment=NETNS=nonsense:%i
Environment=DOWNLINK=nd-%i
Environment=ENTITY=%I

ExecStart=/usr/bin/env nonsense-connection-setup

ExecStopPost=/usr/bin/env nonsense-connection-teardown

